.loader{
 position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #ffffffb3
url('../images/loader.gif') no-repeat center center; }

.tarde{background: #075936 !important; text-transform: uppercase}
.noite{background: #272727 !important; text-transform: uppercase}
.manha{text-transform: uppercase}

.content-header {
 padding: 5px 15px 0 15px;
}
.content{
padding: 4px;
}

.box {
 margin-bottom: 8px;
}

.input-small{
 width: 100px;
 text-align: center;
 font-size: 19px;
 margin-top: -6px;
 border: 0px;
 font-weight: bold;
 color: #3c8dbc;
}

img.fileDownload
{
 height: 100px;
 width: 100px;
 vertical-align: middle;
 margin: 0 4px 0 0;
 cursor: pointer;
 position: absolute;
 top: 0px;
 text-align: center;
 margin: 6px auto;
 display: block;
 position: absolute;
 left: 28%;
}

div.hiddenFileInputContainter {
 position: relative;
 display: inline-block;
 width: 100%;
 height: 108px;
 overflow: hidden;
 vertical-align: middle;
}
.inputimage{
 z-index: 55;
 position: relative;
 opacity: 0;
 cursor: pointer;
 height: 98px;
 width: 109px;
 text-align: center;
 margin: 0 auto;
}

.clear-fix{
 clear: both!important;
}

.input-name{
 border: 0px;
 margin-bottom: -5px;
 top: -10px;
 width: 100%;
 font-size: 1.3em;
 top: 5px;
 position: relative;
}
.list-group-item {
 padding: 6px 10px!important;
}
.box-body{
 padding: 3px 10px;
}
.list-group {
 padding-left: 0;
 margin-bottom: 7px;
}
